__pycache__/
plsrri/__pycache__/
*.py[cod]
plsrri/.*.py[cod]
plsrri/.*.sw[onp]
plsrri/*/.*.sw[onp]
.*.sw[onp]
plsrri/.nfs*

example_*/
*-info/
target/
.tox/
.pre-commit*

#sphinx
#docs/_build/

build/
dist/

# plsenv.yml
